@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --cor1: rgb(255, 187, 0);
    --cor2: #e4e4e4;
    --cor3: #161616;
    --fontes: Montserrat, Arial, Verdana, Helvetica, sans-serif;
    font-size: 65.5%;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    font-size: 1.6rem;
}

.yellow {
    color: var(--cor1)
}

/* General settings for mobile */
@media (min-width: 0px) and (max-width: 425px) {
    .header .container {
        width: 100%;
        margin: 0 auto;
    }

    .nav__link{
        padding: 0rem 5rem;
    }

    .hero__img {
        display: none;
    }

    .signin__button {
        margin-left: 1.5rem;
    }
}

/* Mobile P */
@media (min-width: 0px) and (max-width: 320px) {
    :root {
        font-size: 50%;
    }
}

/* Mobile M */
@media (min-width: 321px) and (max-width: 375px ) {
    :root {
        font-size: 55%;
    }
}

/* Mobile G */
@media (min-width: 376px) and (max-width: 425px ) {
    :root {
        font-size: 60%;
    }
}

/* Very small mobile */
@media (min-width: 0px) and (max-width: 277px) {
    .header__logo {
        margin: 1rem 0rem 2rem 0;
    }
}

.hero {
    min-height: calc(100vh - 7rem);
    position: relative;
}

.hero .container{
    display: flex;
}

.hero__txt {
    min-height: calc(100vh - 7rem);
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__txt-main {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: var(--cor3)
}

.hero__txt-sub {
    line-height: 2.5rem;
    color: #FFFFFF
}

.hero__img {
    display: block;
    min-height: calc(100vh - 7rem);
    max-width: 50%;
    display: flex;
}

.hero__img1 {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.hero__colorshape {
    background-color: var(--cor1);
    height: 45%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -100;
}

@media (min-width:0px) and (max-width: 610px) {
    .hero__img1 {
        display: none;
    }
    .hero__img {
        width: 0px;
        height: 0px;
    }
    .hero__txt {
        max-width: 100%;
    }
}


