.header__nav {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav__link{
    text-decoration: none;
    color: var(--cor3);
    transition: 0.2s;
}

.nav__link:hover {
    color: var(--cor1);
}

.nav__item {
    margin: 1rem 1.5rem 1rem 1.5rem;
}