.hamburguer {
    display: none;
    cursor: pointer;
    margin-left: 3rem;
}

.bar {
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    margin: 0.5rem auto;
    background-color: #FFFFFF;
}

@media (max-width: 773px) {
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1){
        transform: translateY(0.8rem) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-0.8rem) rotate(-45deg);
    }

    .header__nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: -100%;
        top: 5rem;
        background-color: var(--cor1);
        width: 100%;
        transition: 0.3s;
    }
    
    .header__nav.active {
        left: 0%;
    }
}







