.header__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header__buttons  button {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: var(--fontes);
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
}

.header__buttons  button:hover {
    transform: scale(1.1);
}

.signup__button {
    border: 0.1rem solid var(--cor1);
    background-color:var(--cor1);
    color: white;
    margin-left: 0.7rem;
}

.signin__button{
    border: 0.1rem solid white;
    background-color: white;
    color: var(--cor1);
    margin-right: 0.7rem;
}
