.hero {
    min-height: calc(100vh - 7rem);
    position: relative;
}

.hero .container{
    display: flex;
}

.hero__colorshape {
    background-color: var(--cor1);
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -100;
}

